<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.blgrm.validation.asset.mapper.AssetMapper">


    <select id="findAllAssetPrices" resultType="java.util.Map">
        SELECT ASSET_ID
             , BUILDING_NUMBER
             , UNIT_NUMBER
             , PRICE_SEQ
             , DEPOSIT
             , RENT
        FROM ASSET_PRICE
    </select>
</mapper>